<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some data</title>
    </head>
    <body>
        <h1>Maintenace Mode</h1>
        <p>Unavailable. Site is in maintenance mode.</p>
   {{> footer}}
    </body>
</html>