<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some data</title>
    </head>
    <body>
        {{> header}}
        <p>Project details</p>
   {{> footer}}
    </body>
</html>